.home{
	text-align: center;
	text-transform: capitalize;

	&__presentation{
		max-height: 33.3rem;
		max-height: get-vw(333px);
		padding: 10rem 0;
		padding: get-vw(100px) 0;
		background-image: url(../../src/images/programming-monitor.jpg);
		color: $white;
	}
	&__title{
		font-family: $main-title-font, sans-serif;
		font-size: 3.8rem;
		@include respond(tab-land){
			font-size: get-vw(38px);
		}
		font-weight: 500;

	}
	&__subtitle{
		font-family: $main-font;
		font-size: 1.8rem;
		@include respond(tab-land){
			font-size: get-vw(18px);
		}
	}
}
