.intro{
	display: inline-block;
	width: 100%;
	text-align: center;
	text-transform: capitalize;
	padding: 10rem 0;
	padding: get-vw(100px) 0;
	color: $white;
	&--home{
		@include respond(phone){
			background-image: url(../../src/images/hero-bg-phone.jpg);
		}
		@include respond(tab-port){
			background-image: url(../../src/images/hero-bg-tab-land.jpg);
		}
		@include respond(tab-land){
			background-image: url(../../src/images/hero-bg.jpg);
		}

		background-size: cover;
	}
	&--about{
		@include respond(phone){
			background-image: linear-gradient(rgba($black,.7),rgba($black,.7)), url(../../src/images/hero-bg-phone.jpg);
		}
		@include respond(tab-port){
			background-image: linear-gradient(rgba($black,.7),rgba($black,.7)), url(../../src/images/hero-bg-tab-land.jpg);
		}
		@include respond(tab-land){
			background-image: linear-gradient(rgba($black,.7),rgba($black,.7)), url(../../src/images/hero-bg.jpg);
		}
		background-size: cover;
	}
	&__title{
		font-family: $main-title-font, sans-serif;
		font-size: 3.8rem;
		@include respond(tab-land){
			font-size: get-vw(38px);
		}
		font-weight: 500;

	}
	&__subtitle{
		font-family: $main-font;
		font-size: 1.8rem;
		@include respond(tab-land){
			font-size: get-vw(18px);
		}
	}
}
