// the width that the web site was desinged for.
$vw-base: 1366;

// layout variables
$main-max-width: 1170px;
$gutter-vertical: 60px;
$gutter-horizontal:100px;
// color
$body-bg: #f6f6f6;
$black: #171717;
$white: #ffffff;
$main-blue: #21bfb9;
$main-dark-blue: #157572;
// font family
$main-font: 'Nunito Sans';
$main-title-font: 'Montserrat';
$secondary-font: 'Work Sans';
