.footer{
	background-color: $black;
	padding: get-vw($padding) 0;
	color: $gray;
	font-size: 1.5rem;
	@include respond(tab-land){
		font-size: get-vw(15px);
	}
	&__nav{
		text-align: center;
		margin: 1rem 0;
		& nav{
			display: inline-block;
			text-align: left;
		}
	}
	&__media{
		text-align: center;
		margin-bottom: 2rem;
		@include respond(tab-land){
			text-align: right;
		}
	}
	&__link{
		color: $gray;
		margin-right: 1rem;
		@include respond(tab-land){
			display: list-item;
		}
		list-style: none;
		&:hover{
			color: $white;
		}
	}
	&__copyright{
		margin-top: .5rem;
		& span{
			display: table;
		}
	}
}
