.wrapper{
	max-width: $main-max-width;
	max-width: get-vw($main-max-width);
	margin: 0 auto;
}
.row{

	&--with-gutter:not(:last-child){
		margin-bottom: $gutter-horizontal;
		margin-bottom: get-vw($gutter-horizontal);
	}
	&::after{
		content: "";
		display: table;
		clear: both;
	}
}

@include respond(tab-port){

	[class^="col-"]{

			float: left;

			&:not(:last-child){
				margin-right: $gutter-vertical;
				margin-right: get-vw($gutter-vertical);
			}

	}
}

@include respond(tab-port){
.col-1-of-2-md{
		@include col-width(1,$gutter-horizontal,2);
	}
.col-1-of-3-md{
		@include col-width(1,$gutter-horizontal,3);
	}
}
