.header{
	background-color: $white;
	padding: 3.8rem 0;
	padding: get-vw(38px);

	&__nav{
		text-align: center;
		@include respond(tab-land){
			text-align: right;
		}
		padding: 1rem 0;
		padding: get-vw(30px) 0;

		& a{
			text-transform: uppercase;
			margin-right: 5rem;
			margin-right: get-vw(100px);
			font-family: $main-title-font;
			font-weight: 500;
			font-size: 1.2rem;
			@include respond(tab-land){
				margin-right: 2rem;
				margin-right: get-vw(20px);
				font-size: get-vw(12px);
			}
			&:hover,
			&:active{
				color: $main-dark-blue;
			}
		}
	}

}
.active{
	color: $main-blue;
}
